.team {
	padding-top: 70px;
	padding-bottom: 70px;
	margin-bottom: 30px;
	&_text {
		color: @white_font_color;
		font-size: 22px;
		background-color: rgba(0, 0, 0, 0.5);
		& p {
			padding: 30px 30px 0;
			margin-bottom: 0;
			font-weight: 700;
		}
		& h3 {
			padding-right: 30px;
			margin-top: 0;
			font-family: @font_segoe;
			font-weight: 900;
		}
	}
}

.start {
	margin-bottom: 60px;
	&_text p {
		font-size: 39px;
		padding: 0 65px;
		font-weight: 700;
		& span {
			font-family: @font_segoe;
			font-weight: 900;
		}
	}
	&_btn {
		width: 230px;
		height: 185px;
		padding: 15px;
		border: 15px solid @color_btn_blue;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.63);
		position: relative;
		& > div {
			padding: 5px 0 8px;
			background-color: #12636b;
			box-shadow: 0 0 8.1px 0.9px rgba(0, 0, 0, 0.77);
		}
		& p {
			color: @white_font_color;
			font-size: 17px;
			font-weight: 700;
			line-height: 20px;
			& span {
				display: block;
				margin: 2px;
				text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
				font-family: @font_segoe;
				font-size: 39px;
				font-weight: 900;
			}
		}
	}
}

