.team-partners {
	margin-bottom: 2.11%; /* 30px / 1423px */
	&_box {
		padding-top: 6.96%; /* 93px / 1336px */
		padding-bottom: 13.1%; /* 175px / 1336px */
	}
	&_text {
		color: @white_font_color;
		font-size: 22px;
		background-color: rgba(0, 0, 0, 0.5);
		& p {
			padding: 3.41% 3.41% 0; /* 30px / 880px */
			margin-bottom: 0;
			font-weight: 700;
		}
		& h3 {
			padding-right: 3.41%; /* 30px / 880px */
			margin-top: 0;
			font-family: @font_segoe;
			font-weight: 900;
		}
	}
}

.registration {
	&_head {
		& h3 {
			display: inline-block;
			font-size: 24px;
			padding: 0 5px;
			text-transform: none;
		}
		& p {
			font-size: 44px;
			padding: 0 15px;
		}
	}
	&_btn {
		text-align: center;
		border: 15px solid @color_btn_blue;
		border-radius: 50%;
		padding: 15px;
		width: 290px;
		position: relative;
		& > div {
			display: inline-block;
			background: @color_btn_blue;
			color: @white_font_color;
			padding: 55px 10px 5px;
			border-radius: 50%;
		}
		& p {
			font-size: 17px;
			font-weight: 700;
			margin-bottom: 0;
			& span {
				font-family: @font_segoe;
				font-size: 48px;
				font-weight: 900;
				line-height: .9;
			}
		}
		& .btn {
			padding: 0;
			font-size: 19px;
			& span {
				color: @white_font_color;
				font-size: 60px;
			}
			&.btn-defo {
				background: transparent;
				border: 0;
			}
			&:hover {
				color: rgba(199, 86, 48, .8);
			}
			&:active,
			&:focus {
				box-shadow: none;
				outline: 0;
			}
		}
	}
	&_leadText {
		& h4 {
			font-size: 19px;
			font-weight: 900;
			padding: 9px;
		}
		& p {
			font-size: 17px;
			font-weight: 700;
			margin-bottom: 30px;
		}
	}
	&_text {
		&_title {
			border-bottom: 3px solid @base_font_color;
			margin-bottom: 10px;
			& h4 {
				font-size: 27px;
				text-transform: none;
			}
			& p {
				font-family: @font_segoe;
				font-size: 15px;
				font-weight: 900;
			}
		}
		& h4 {
			display: inline-block;
			margin-bottom: 0;
		}
		& p {
			padding: 15px 10px;
			font-size: 15px;
			font-weight: 700;
		}
		&_item {
			margin-bottom: 30px;
		}
		&_step {
			max-width: 390px;
			& p,
			& .radio {
				font-family: @font_segoe;
				font-size: 10px;
				font-weight: 900;
				margin: 0 0 3px 65px;
				padding: 0 0 0 5px;
				background: @color_light_grey;
				border-radius: 5px;
			}
			& input:focus {
				outline: none;
			}
			& span {
				font-family: @font_antiqua;
				font-size: 39px;
				font-weight: 700;
				border: 3px solid @color_btn_blue;
				border-radius: 50%;
				padding: 0 18px;
				float: left;
			}
			& .btn {
				font-size: 10px;
				margin-bottom: 3px;
				margin-top: 3px;
				border-color: @base_font_color;
				background-color: transparent;
				&:hover {
					transform: scale(1.03);
				}
				&:focus,
				&:active {
					outline: none;
					border-color: @base_font_color;
				}
			}
			& div.step3 {
				background: @color_light_grey;
				border-radius: 5px;
				margin-left: 65px;
				padding: 10px 25px;
				font-family: @font_segoe;
				& h5 {
					margin-top: 0;
				}
				& p {
					margin: 0;
					padding: 0;
				}
				& a {
					color: @color_btn;
				}
			}
		}
	}
	& p.insertion {
		margin-bottom: 0;
	}
	& h4.insertion {
		margin-top: 0;
		float: right;
		margin-bottom: 10px;
	}
	&_content {
		border-bottom: 7px solid @color_dark_blue;
	}
	&_line {
		& > div {
			display: inline-block;
		}
		& h3 {
			font-size: 39px;
			font-weight: 900;
			padding: 10px 15px;
			border-radius: 10px 0 0 0;
			margin: 0 0 0 5px;
			& span {
				color: @color_blue;
				text-shadow: 0 0 3px @white_font_color;
			}
		}
		&_btn {
			position: relative;
			& * {
				font-family: @font_segoe;
				font-size: 19px;
				font-weight: 900;
			}
		}
		&_img {
			position: relative;
			margin-left: 10px;
		}
	}
}

.partnerShip {
	&_content {
		padding-top: 2.62%; /* 35px / 1336px */
	}
	&_text {
		& span {
			font-family: @font_antiqua;
			font-size: 39px;
			font-weight: 700;
			border: 3px solid @color_btn_blue;
			border-radius: 50%;
			padding: 0 18px;
			margin-right: 2.3%; /* 15px / 653px */
		}
		& h4 {
			display: inline-block;
			margin-bottom: 0;
			font-size: 18px;
		}
		& p {
			margin-top: 0;
			padding: 5px 10px;
			font-size: 15px;
			font-weight: 700;
		}
	}
	&_lead {
		& h3 {
			font-size: 24px;
			display: inline-block;
			margin-top: 0;
			margin-bottom: 3.06%; /* 20px / 653px */
		}
		&_head {
			font-size: 34px;
			font-weight: 700;
			border-bottom: 5px solid @color_dark_blue;
			padding-bottom: 2.3%; /* 15px / 653px */
			margin-bottom: 3.06%; /* 20px / 653px */
		}
		& p.lead {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 3.06%; /* 20px / 653px */
		}
		& p.selected {
			background: @color_dark_blue;
			color: @white_font_color;
			font-family: @font_segoe;
			font-size: 22px;
			font-weight: 900;
			padding: 8px 40px;
			margin-bottom: 9.95%; /* 65px / 653px */
		}
	}
	& .carousel {
		margin-bottom: 40px;
		& .item {
			padding-right: 6.13%; /* 40px / 653px */
			padding-left: 6.13%; /* 40px / 653px */
		}
		&_img {
			width: 34.15%;
			float: left;
			height: inherit;
		}
		&_text {
			float: right;
			margin-top: 20px;
			padding-top: 5px;
			margin-left: 1.53%; /* 10px /653px */
			& h5 {
				font-size: 18px;
			}
			& p {
				font-size: 15px;
				font-weight: 700;
			}
		}
		&-indicators {
			bottom: -40px;
			& li {
				background: @base_font_color;
				width: 15px;
				height: 15px;
				margin: 0;
				&.active {
					background: @white_font_color;
					border: 2px solid @base_font_color;
				}
			}
		}
		&-control {
			background: transparent;
			color: @base_font_color;
			text-shadow: none;
			opacity: 1;
			& .glyphicon-menu-left {
				position: absolute;
				top: 40%;
				left: 0;
				font-size: 30px;
			}
			& .glyphicon-menu-right {
				position: absolute;
				top: 40%;
				right: 0;
				font-size: 30px;
			}
		}
	}
	&_line {
		& > div {
			display: inline-block;
		}
		& h3 {
			font-size: 39px;
			font-weight: 900;
			padding: 10px 15px;
			border-radius: 0 10px 0 0;
			margin: 0 20px 0 0;
			& span {
				color: @base_font_color;
				text-shadow: 0 0 3px @white_font_color;
			}
		}
		&_btn {
			position: relative;
			& * {
				font-family: @font_segoe;
				font-size: 19px;
				font-weight: 900;
			}
		}
		&_img {
			position: relative;
			margin-right: 30px;
		}
	}
}

.partnerFood {
	&_content {
		padding-top: 1.87%; /* 25px / 1336px */
		&_head {
			font-family: @font_antiqua;
			text-transform: none;
			font-size: 24px;
			font-weight: 700;
			border-bottom: 5px solid @color_dark_blue;
			padding-bottom: 15px;
		}
	}
	&_title {
		display: inline-block;
		margin-top: 0;
	}
	&_text {
		font-size: 19px;
		font-weight: 700;
		padding: 15px;
		text-align: justify;
	}
	&_selected {
		color: @white_font_color;
		font-family: @font_segoe;
		font-weight: 900;
		line-height: 1.2;
		text-align: justify;
		display: inline-block;
		padding: 5px 13px 16px;
		background-color: @color_btn_blue;
		box-shadow: 0 0 15px 3px @base_font_color;
		float: right;
		position: relative;
		top: -50px;
		& span {
			display: block;
		}
	}
	&_item {
		margin-bottom: 10px;
		& h4 {
			font-size: 19px;
			font-weight: 900;
			text-align: justify;
			margin-top: 0;
		}
		&_icon img {
			margin-left: auto;
			margin-right: auto;
		}
	}
	&_line {
		& > div {
			display: inline-block;
		}
		& h3 {
			font-size: 39px;
			font-weight: 900;
			padding: 10px 15px;
			border-radius: 10px 0 0 0;
			margin: 0 0 0 5px;
			& span {
				color: @color_green;
				text-shadow: 0 0 3px @white_font_color;
			}
		}
		&_btn {
			position: relative;
			& * {
				font-family: @font_segoe;
				font-size: 19px;
				font-weight: 900;
			}
		}
		&_img {
			position: relative;
			margin-left: 1px;
		}
	}
	&_form {
		border-top: 5px solid @color_dark_blue;
		&_title {
			font-size: 24px;
			font-weight: 900;
			margin-top: 0;
		}
		& .insetForm {
			overflow: hidden;
			padding: 4px;
			position: relative;
			&_right {
				width: 60%;
				min-width: 208px;
				max-width: 220px;
				background: @color_light_grey;
				padding: 5px;
				position: relative;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				& input {
					width: 99%;
					display: block;
					margin-bottom: 10px;
					padding: 2px;
					border-radius: 7px;
					box-shadow: 0 0 5px @base_font_color;
					border: none;
					&:focus,
					&:active {
						outline: none;
					}
				}
				&::after {
					content: '';
					width: 100%;
					height: 100%;
					background: @color_light_grey;
					position: absolute;
					top: 0;
					left: 0;
					z-index: -100;
					display: block;
					box-shadow: 0 0 7px @base_font_color;
				}
				&_footnote {
					color: @color_dark_grey;
					font-size: 12px;
					font-weight: 700;
					text-align: center;
					margin-bottom: 2px;
				}
				& .btn {
					font-size: 19px;
					font-weight: 900;
					text-transform: uppercase;
					padding: 0 5px;
				}
			}
			&_left {
				margin-left: 18px;
				&_label {
					font-family: @font_segoe;
					font-size: 17px;
					font-weight: 900;
					background: @color_light_grey;
					padding: 3px 10px;
					box-shadow: 0 0 7px #000;
				}
				&_checkbox {
					display: none;
				}
				&_checkbox_square {
					position: relative;
					width: 20px;
					height: 20px;
					border: 2px solid @base_font_color;
					border-radius: 3px;
				}
				&_checkbox_square,
				&_checkbox_text {
					display: inline-block;
					vertical-align: middle;
				}
				&_checkbox_text {
					font-size: 12px;
					font-weight: 700;
				}
				&_checkbox:checked + .insetForm_left_checkbox_square {
					border: 2px solid @color_btn;
				}
				&_checkbox:checked + .insetForm_left_checkbox_square::after {
					content: '';
					display: block;
					position: absolute;
					top: 1px;
					right: 1px;
					bottom: 1px;
					left: 1px;
					background: url(../img/partners/check.png) center;
				}
				&_checkbox:checked ~ .insetForm_left_checkbox_text {
					color: @color_btn;
				}
			}
		}
	}
}

.cooperation {
	&_content {
		padding-top: 1.87%; /* 25px / 1336px */
		padding-bottom: 5.99%; /* 80px / 1336px */
	}
	&_title {
		font-size: 24px;
		font-weight: 900;
		display: inline-block;
		float: right;
		text-transform: none;
		padding: 2px 10px 5px;
		margin-bottom: 1.12%; /* 15px / 1336px */
	}
	&_head {
		font-family: @font_antiqua;
		font-size: 36px;
		font-weight: 700;
		text-transform: none;
		margin-bottom: 2.62%; /* 35px / 1336px */
	}
	&_map {
		margin-bottom: 2.25%; /* 30px / 1336px */
		& iframe {
			border: 2px solid @base_font_color;
		}
		&::after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 55px 55px 0;
			border-color: transparent @color_btn_blue transparent transparent;
			position: absolute;
			top: -7px;
			right: 7px;
		}
		&::before {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 55px 55px 0 0;
			border-color: @color_btn_blue transparent transparent transparent;
			position: absolute;
			top: -7px;
			left: 7px;
		}
		&-down {
			&::after {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 55px 55px;
				border-color: transparent transparent @color_btn_blue transparent;
				position: absolute;
				bottom: -7px;
				right: 7px;
			}
			&::before {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 55px 0 0 55px;
				border-color: transparent transparent transparent @color_btn_blue;
				position: absolute;
				bottom: -7px;
				left: 7px;
			}
		}
	}
	&_representation {
		&_head {
			font-size: 19px;
			font-weight: 700;
			border-bottom: 3px solid @color_btn_blue;
			margin-bottom: 10px;
			& span {
				font-family: @font_segoe;
				font-weight: 900;
			}
		}
	}
	&_townSelect {
		width: 100%;
		padding: 4.59% 6.89%; /* 30px & 45px / 653px */
		margin-bottom: 10.72%; /* 70px / 653px */
		& p {
			font-size: 12px;
			font-weight: 700;
			border-bottom: 2px solid @color_dark_blue;
		}
		& .form-control {
			border-color: @color_grey;
		}
		& .form-control:focus {
			border-color: @color_grey;
			box-shadow: none;
		}
		& .input-sm {
			border-radius: 0;
		}
	}
	&_form {
		&-head {
			font-size: 19px;
			font-weight: 700;
			& span {
				font-family: @font_segoe;
				font-weight: 900;
			}
		}
		background: @color_food_form;
		box-shadow: 0 0 19px 3px @base_font_color;
		padding: 10px;
		&_text {
			color: @white_font_color;
			border-bottom: 2px solid @white_font_color;
			font-size: 15px;
			font-weight: 700;
			padding-bottom: 10px;
		}
		& .form-control {
			width: 100%;
			font-size: 12px;
			font-weight: 700;
			border-radius: 10px;
			border: 2px @base_font_color;
			box-shadow: 0 0 10px @base_font_color;
		}
		& .btn {
			font-size: 17px;
			padding: 3px 15px;
		}
	}
}